* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: auto;
}
.navbar {
  width: 100%;
  height: 50px;
  background-color: rgba(127, 255, 212, 0.589);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar > p {
  font-size: 20px;
  font-weight: bold;
}
.welcome {
  color: red;
  font-weight: bold;
}
.container_items1 {
  height: 70vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50vh 20vh;
  text-align: center;
}
.header {
  font-size: 60px;
  margin-top: 18vh;
}

.header_half1 {
  color: rgb(71, 255, 215);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header_half2 {
  font-size: 30px;
  color: rgb(255, 71, 71);
}
.header_3 {
  font-size: 30px;
  padding-top: 20px;
}
.header_tag {
  padding-top: 10px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
input[type="text"] {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: none;
}
button[type="submit"] {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(71, 255, 215);
  border: none;
  cursor: pointer;
}
.container_items2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
img {
  padding-bottom: 12px;
}
